#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #FEBF04;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #000;
	background: #FEBF04;
	cursor: default;
	padding: 0em;
	margin: 0em;
	width: 100%;
}

#popup_content {	
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_message {
	padding-left: 48px;
	padding-top: 20px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
	height: 20px;
    padding: 2px;
}

#popup_ok{ background: #000000; border: none; color: #FFFFFF; font-size: 16px; font-weight: bold; height: 30px; width: 70px; cursor:pointer;}
#popup_cancel { background: #F9BE00; border: none; color: #FFFFFF; font-size: 16px; font-weight: bold; height: 30px; width: 70px;}